h1 {
    font-size: 32;
    text-align: center;
    color: goldenrod;
}

h2 {
    font-size: 32;
    color: goldenrod;
}

h3 {
    font-size: 32;
    color: goldenrod;
}

h4 {
    font-size: 32;
    color: goldenrod;
}

h5 {
    font-size: 32;
    color: goldenrod;
}

h6 {
    font-size: 32;
    color: goldenrod;
}

#p0 {
    font-size: 20;
    text-align: center;
}

#p1 {
    font-size: 20;
}

.top-video {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin: 0;
    padding: 0;





    /* Fade-in animation */
    opacity: 0;
    /* start invisible */
    animation: fadeIn 6s forwards;
    /* call fadeIn animation, 2 seconds */
}

.top-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    to {
        opacity: 1;
        /* fade from 0 to 1 */
    }
}

.text {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 200px;
}

.image {
    height: 100%
}

.video-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    margin: 0;
    padding: 0;

}

.video-container video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;


}

.logo {
    width: 120px;
    height: auto;
}

.header {
    padding: 10px;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: whitesmoke;
    height: 100;
    margin: 0;
    padding: 0;

}

.brand {
    display: flex;
    align-items: center;
    gap: 12px
}

.brand-text {
    font-size: 40px;
    width: 100%;
    flex: 1;
    font-weight: 700;
    color: goldenrod;
}

.mov {
    color: blue;
}

body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1200px;

}
