h1 {
    font-size: 32;
    text-align: center;
    color: goldenrod;
}

h2 {
    font-size: 32;
}

h3 {
    font-size: 32;
}

h4 {
    font-size: 32;
}

h5 {
    font-size: 32;
}

h6 {
    font-size: 32;
}

#p0 {
    font-size: 20;
    text-align: center;
}

#p1 {
    font-size: 20;
}

.top-video {
    width: 100%;
    height: 250px;
    overflow: hidden;

    /* Fade-in animation */
    opacity: 0;
    /* start invisible */
    animation: fadeIn 6s forwards;
    /* call fadeIn animation, 2 seconds */
}

.top-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    to {
        opacity: 1;
        /* fade from 0 to 1 */
    }
}

.text {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 200px;
}

.image {
    hight: 100%
}

.video-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 120px;
    height: auto;
}

.header {
    padding: 10px 20px
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px
}

.brand-text {
    font-size: 40px;
    width: 100%;
    flex: 3;
    font-weight: 700;
    color: goldenrod;
}