h1 {
    text-align: center;
    font-size: 25;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5x;

}

h4 {
    text-align: left;
    font-size: 20;
}

h5 {
    font-size: 20;
    text-align: left;
}

.about-btn {
    color: black;

}

.contact-btn {
    color: black
}

.index-btn {
    color: black
}

.about-btn:current {
    background-color: green;
}
.home-btn{color:black}